body {
    width: auto;
    margin: auto;
    text-align: center;
    background-color: #7d7d7d;
    font-family: Arial, sans-serif;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-image: url("../img/18.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

@media screen and (orientation: portrait) {
    #toolbar {
        width: 100%;
    }
}


@media screen and (orientation: landscape) {
    #toolbar {
        position: fixed;
        width: 2.65em;
        height: 100%;
    }

}
header {
    height: auto;
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

}
.head1 {
    height: 900px;
    width: 100%;
    background-image: url("../img/6.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 37px 0 63px;

}
.head2 {
    height: 900px;
    width: 100%;
    background-image: url("../img/7.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 37px 0 63px;

}
.menu-main {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    list-style: none;
    background: black;
}

.menu-main li {
    display: inline-block;
}

.menu-main li:after {
    color: #606060;
    display: inline-block;
    vertical-align: top;
}

.menu-main li:last-child:after {
    content: none;
}

.menu-main a {
    text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    letter-spacing: 2px;
    position: relative;
    padding-bottom: 20px;
    margin: 0 0 0 30px;
    font-size: 17px;
    text-transform: uppercase;
    display: inline-block;
    transition: color .3s;
}

.menu-main a, .menu-main a:visited {
    color: white;
}

.menu-main a.current, .menu-main a:hover {
    color: #feb386;
}

.menu-main a:before,
.menu-main a:after {
    content: "";
    position: absolute;
    height: 4px;
    top: auto;
    right: 50%;
    bottom: -5px;
    left: 50%;
    background: #feb386;
    transition: .8s;
}

.menu-main a:hover:before, .menu-main .current:before {
    left: 0;
}

.menu-main a:hover:after, .menu-main .current:after {
    right: 0;
}

@media (max-width: 550px) {
    .menu-main {
        padding-top: 0;
    }

    .menu-main li {
        display: block;
    }

    .menu-main li:after {
        content: none;
    }

    .menu-main a {
        padding: 25px 0 20px;
        margin: 0 30px;
    }
}
.header_title {
    display: block;
    color: #ffffff;
    font-size: 55px;
    max-width: 800px;
    margin: 95px auto 70px;
    font-weight: 500;
    text-align: center;
    height: auto;
}
.text {

    color: #ffffff;
    font-size: 25px;
    display: block;
    margin: 20px auto 0;
}
.text2 {
    text-align: center;
    color: #ffffff;
    font-size: 25px;
    display: block;
    margin: 50px auto -50px;
}
.text3 {
    text-align: center;
    color: #ffffff;
    font-size: 25px;
    display: block;
    margin: 70px auto 0;
}
.view-more {
    display: block;
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    padding-left: 16px;
    text-align: left;
    background-color: #6018a7;
    width: 185px;
    height: 40px;
    line-height: 40px;
    border-radius: 25px;
    background-repeat: no-repeat;
    background-position: right 18px center;
    margin: 50px auto 50px;
}
.view-more:hover{
    opacity: 0.8;
}
.footer {
    height: 100%;
    padding: 4px;
    background-color: #1d1d1d;
    color: #ffffff;
}

.footer-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
}

.footer-wrap {
    flex-grow: 1;
    max-width: 330px;
    max-height: 450px;
}

.footer-line {
    width: 30px;
    height: 2px;
    border: none;
    background-color: #ff0000;
}

.footer-title {
    display: block;
    margin: 28px auto 13px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 3px;
}

.recent-posts-link:hover {
    opacity: 0.8;
}

.recent-posts .article {
    list-style-type: none;
    display: block;
    text-align: center;
    font-size: 0;
    padding: 0;
    margin: 0;
}

.recent-posts img {
    float: left;
    padding-right: 8px;
}

.recent-posts article {
    display: block;
    font-size: 16px;
    text-align: left;
}

.recent-posts article p {
    margin: 12px;
}

.recent-posts article a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 300;
}

.recent-posts-link {
    display: inline-block;
    vertical-align: middle;
    padding: 4px 6px;
    border-radius: 4px;
}

.magazine {
    background-color: #546fd1;
}

.ui-design {
    background-color: #ff0077;
}
.ui-design2 {
    background-color: #00ff7b;
}

.photography{
    background-color: #eab908;
}

.book {
    background-color: #f304bf;
}

.contacts ul {
    list-style-type: none;
    text-align: center;
    font-size: 0;
    padding: 0;
    margin: 0;
}

.contacts ul li {
    font-size: 14px;
}

.contacts ul li a {
    text-decoration: none;
    color: inherit;
}

.form {
    margin-top: 28px;
}

.form-control,
.email,
.textarea {
    background-color: #42155a;
    border: none;
    margin: 0 0 2px;
    width: 322px;
    padding: 4px;
    display: block;
}

.text1 {
    border-radius: 4px 4px 0 0;
}

.textarea {
    height: 131px;
    resize: none;
}

.btn {
    background-color: #4d2b9b;
    display: block;
    width: 100%;
    color: #fff;
    border: none;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 300;
    border-radius: 0 0 4px 4px;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.8;
    cursor: pointer;
}
.container-centered {
    text-align: center;
}
.container {
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
}
.welcom {
    font-size: 15px;
    text-align: center;
    color: #ffffff;
}
.zagolovok {
    font-size: 26px;
    left: 30%;
    right: 20%;
    text-align: center;
    color: #ffffff;
}
.textpodbor {
    font-size: 20px;
    position: absolute;
    margin-top: 3%;
    left: 27%;
    margin-right: 25%;

}
.b1 {
    font-size: 20px;
}

.b2 {
    font-size: 18px;
    text-align: center;
    padding-bottom: 50px;
}
.logo {
    margin: 0;
}
.polza {
    padding-top: 1%;

    text-align: center;
}
.asd {
    max-width: 1170px;
    margin: 30px 0 30px;
    position: relative;
}
.circle1 {
    margin-top: 25px;
    margin-left: 25px;
    text-decoration: none;
    border: 0.1875em solid cornflowerblue;
    border-radius: 50%;
    height: 4em;
    width: 4em;
    float: left;
    display: block;
    background-position: center;

}
.a1 {
    position: center;
    color: cornflowerblue;
    font-size: 40px;
    margin-top: 7px;
    margin-left: 34%;
}
.tonys {
    font-size: 30px;
    margin-top: 5px;
    margin-left: 135px;
    margin-right: 10%;
    position: center;
    text-align: center;
    color: white;
}
.circle2 {
    margin-left: 25px;
    margin-top: 90px;
    text-decoration: none;
    border: 0.1875em solid cornflowerblue;
    border-radius: 50%;
    height: 4em;
    width: 4em;


}
.a2 {
    position: center;
    color: cornflowerblue;
    font-size: 40px;
    margin-top: 7px;
    margin-left: 34%;
}
.radikal {
    font-size: 30px;
    margin-top: -100px;
    margin-left: 135px;
    margin-right: 10%;
    position: center;
    color: white;
}
.circle3 {
    margin-left: 25px;
    margin-top: 10px;
    text-decoration: none;
    border: 0.1875em solid cornflowerblue;
    border-radius: 50%;
    height: 4em;
    width: 4em;
    float: left;
    display: block;
    background-position: center;
}
.a3 {
    position: center;
    color: cornflowerblue;
    font-size: 40px;
    margin-top: 7px;
    margin-left: 34%;
}
.dipins {
    font-size: 30px;
    margin-top: 80px;
    margin-left: 135px;
    margin-right: 10%;
    color: white;
}
.row1 {
    height: 100%;
    padding: 10px 0 37px;
    background-color: rgba(142, 0, 255, 0.31);
}